<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <section id="contact" class="py-5 bg-body-secondary">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-md-8 mx-auto align-items-center text-center justify-content-center"
        >
          <h2 class="text-primary mb-4">Contact Us</h2>
          <p class="mb-4 lead">
            Feel free to reach out to us for any inquiries, feedback, or
            suggestions.
          </p>
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control p-2"
                id="name"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control p-2"
                id="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea
                class="form-control p-2"
                id="message"
                rows="5"
                placeholder="Enter your message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

