<section id="gallery" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Explore Our Designs</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/Senator Wear.jpeg"
            class="card-img-top"
            alt="Design 1"
          />
          <div class="card-body">
            <h5 class="card-title">Senator Wear</h5>
            <p class="card-text">Deji & Kola.</p>
            <a href="https://dejiandkola.com" class="btn btn-primary"
              >Contact Designer</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/agbada men.jpg"
            class="card-img-top"
            alt="Design 2"
          />
          <div class="card-body">
            <h5 class="card-title">Agbada Styles</h5>
            <p class="card-text">Designed by Fitted.</p>
            <a
              href="https://blog.fitted.ng/latest-agbada-styles-for-men-fabulous-agbada-style/"
              class="btn btn-primary"
              >Contact Designer</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/Cuban set.jpeg"
            class="card-img-top"
            alt="Design 3"
          />
          <div class="card-body">
            <h5 class="card-title">Cuban Outfits</h5>
            <p class="card-text">Check Prageestore.</p>
            <a href="https://prageestore.com" class="btn btn-primary"
              >Contact Store</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/Senate wear.jpeg"
            class="card-img-top"
            alt="Design 1"
          />
          <div class="card-body">
            <h5 class="card-title">Senator Wear</h5>
            <p class="card-text">Designed by Etsy.</p>
            <a href="https://www.etsy.com" class="btn btn-primary"
              >Contact Designer</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/African Style set.jpeg"
            class="card-img-top"
            alt="Design 2"
          />
          <div class="card-body">
            <h5 class="card-title">African Style</h5>
            <p class="card-text">D & D Clothing.</p>
            <a href="https://danddclothing.com" class="btn btn-primary"
              >Contact Store</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/Dark Brown Lazio 2.jpg"
            class="card-img-top"
            alt="Design 3"
          />
          <div class="card-body">
            <h5 class="card-title">Dark Brown Lazio</h5>
            <p class="card-text">Suit Supply</p>
            <a href="https://suitsupply.com" class="btn btn-primary"
              >Make Orders</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/French crown Shirt.jpg"
            class="card-img-top"
            alt="Design 1"
          />
          <div class="card-body">
            <h5 class="card-title">French Crown Shirt</h5>
            <p class="card-text">Designed by French Crown.</p>
            <a href="https://frenchcrown.com" class="btn btn-primary"
              >Shop Now</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/Italian Inspired Summer Style.jpg"
            class="card-img-top"
            alt="Design 2"
          />
          <div class="card-body">
            <h5 class="card-title">Italian Fashion</h5>
            <p class="card-text">Stylight Store</p>
            <a href="https://stylight.co.uk" class="btn btn-primary"
              >Explore More</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/Luxury Agbada for Men .jpg"
            class="card-img-top"
            alt="Design 3"
          />
          <div class="card-body">
            <h5 class="card-title">Luxury Agbada for Men</h5>
            <p class="card-text">Designed by Deji & Kola.</p>
            <a href="https://dejiandkola.com" class="btn btn-primary"
              >Contact Designer</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/M charcoal black.jpg"
            class="card-img-top"
            alt="Design 1"
          />
          <div class="card-body">
            <h5 class="card-title">Charcoal Black</h5>
            <p class="card-text">Designed by Deji & Kola</p>
            <a href="https://dejiandkola.com" class="btn btn-primary"
              >Contact Designer</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/M Midnight Blue kaftan.jpg"
            class="card-img-top"
            alt="Design 2"
          />
          <div class="card-body">
            <h5 class="card-title">Midnight Blue Kaftan</h5>
            <p class="card-text">Deji and Kola</p>
            <a href="https://dejiandkola.com" class="btn btn-primary"
              >Contact Designer</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img
            src="assets/M Modern Kaftan Dress .jpg"
            class="card-img-top"
            alt="Design 3"
          />
          <div class="card-body">
            <h5 class="card-title">Modern Office Wear</h5>
            <p class="card-text">Kafka Suit</p>
            <a href="https://www.mgkente.com" class="btn btn-primary"
              >Shop Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
