<section class="gallery px-5">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center text-primary">Image Gallery</h1>
      <h4 class="text-center text-success">Explore more after sign-up</h4>
      <div class="col">
        <img src="assets/African men .jpg" class="gallery-item" alt="gallery" />
        <img
          src="assets/African Men Agbada.jpeg"
          class="gallery-item"
          alt="gallery"
        />
        <img
          src="assets/African men set.jpeg"
          class="gallery-item"
          alt="gallery"
        />
      </div>

      <div class="col">
        <img
          src="assets/F Ankara inspiration.jpg"
          class="gallery-item"
          alt="gallery"
        />
        <img src="assets/F Asoebi .jpg" class="gallery-item" alt="gallery" />
        <img
          src="assets/F Ankara Styles.jpg"
          class="gallery-item"
          alt="gallery"
        />
      </div>

      <div class="col">
        <img
          src="assets/Agbada for Kids.jpg"
          class="gallery-item"
          alt="gallery"
        />
        <img src="assets/Child Senate.jpg" class="gallery-item" alt="gallery" />
        <img
          src="assets/Flower Girl Dresses.jpg"
          class="gallery-item"
          alt="gallery"
        />
      </div>
    </div>
  </div>
</section>
