<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/corect.png" alt="Fashion" width="50px" height="50px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">
            Home <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery">Gallery</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Details
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/men-designs">Men Wears</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/women-designs"
                >Women Wears</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/children-designs"
                >Children Wears</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            routerLink="sign-up"
            routerLinkActive="active"
            class="bi bi-person-plus btn rounded-3"
            role="button"
          >
            Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="login"
            routerLinkActive="active"
            class="bi bi-person-circle btn rounded-3"
            role="button"
          >
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
